/* Colors */
$paragraph-color: #fff;
$brand-main-color: #0074D9;
$brand-main-hover: #4c96d6;
$text-color-light: #cce3f7;
$icon-color-top: #75818b;
$row-text-color: #75818b;
$dot-blue: #0074D9;
$dot-orange: #f38d08;
$dot-green: #09c409;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */

$logo-font: "Caveat", cursive;
$paragraph-font: "Open Sans", sans-serif;