/* Colors */
$paragraph-color: #cfcfcf;
$brand-main-color: #87bdd8;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;