.btn{
    background-color: $brand-main-color;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 14px;
    color: $text-color-light;

    img{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(132deg) brightness(105%) contrast(105%);
        padding: 5px;
    }
}
    


.btn-refresh img{
    height: 15px;
    width: 15px;
}