.date-form{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}

.date-picker{
    padding: 5px;
    border: solid $text-color-light 0.2px;
}

.date-start{
    margin-right: 0px;
    border: none;
    border-right: solid $text-color-light 0.2px;
}

.date-end{
    margin-left: 0px;
    border: none;
}

@media (max-width: 767px){
    .date-picker input{
        font-size: 8px;
    }
    
}

