.date-form{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.date-start{
    margin-right: 0px;
}

.date-end{
    margin-left: 0px;
    background-image: url('.../vendor/icons/calendar.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
}