main {
    width: calc(100% - 230px);
    margin-left: 230px;
    margin-top: 70px;
    padding: 20px;
    box-sizing: border-box;
}

main .page {
    background-color: $paragraph-color;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.container-title-wrapper{
    padding: 20px;
    border-bottom:  solid $text-color-light 0.5px;
}

.container-title{
    margin: 0 auto;
}

.container-wrapper{
    border-bottom:  solid $text-color-light 0.5px;
}

.container-stats{
    border: none;
}

.container-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

@media (max-width: 767px){

    main {
        width: 100%;
        margin-left: 0px;
        margin-top: 90px;
    }
}

