* {
    box-sizing: border-box;
  }

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: $brand-main-color;
    height: 100%;
    margin: 0;
    width: 230px;
    z-index: 10;
    font-family: $paragraph-font;
    color: $text-color-light;
    font-size: 16px;
    transition: 0.5s;
    

    .sidebar-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 190px;
        padding: 20px 20px 0 20px;

        .logo {
            font-size: 32px;
            font-family: $logo-font;
        }

        i{
            font-size: 32px;
        }
    }

    ul.sidebar-menu{
        list-style: none;
        display: flex;
        flex-direction: column;
        padding-left: 0;

        .nav-list{
            width: 100%;
            height: 35px;
            padding-top: 5px;
            padding-left: 20px;
            padding-right: 20px;
            z-index: 11;

            a{
                text-decoration: none;
                color: $text-color-light;
            }
        }
    }

    .sidebar-manager{
        padding: 0 20px;
    }
}

.nav-list:hover{
    background-color: $brand-main-hover;
    cursor: pointer;
}

.burger-nav{
    display: none;
}

.nav-list i{
    margin: 0 10px;
}

.manager-cell{
    display: flex;
    margin: auto;
    align-items: center;

    a{
        margin-left: 10px;
    }
}

.avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}



@media (max-width: 767px){
    .sidebar{
        overflow: hidden;
        width: 100%;
        height: 60px;
    }

    .sidebar .sidebar-header{
        width: 100%;
        padding: 10px;
        height: 55px;

        .logo{
            font-size: 24px;
        }

        i{
            font-size: 24px;
        }

        button{
            margin-right: 30px;
        }
    }

    .burger-nav{
        display: inline-block;
    }

    .sidebar ul.sidebar-menu .nav-list{
        margin: 0;
        width: 100%;
        height: 20px;
        font-size: 10px;
    }

}

@media (min-width: 768px) and (max-width: 991px){
    .burger-nav{
        display: inline-block;
    }

    .sidebar{
        overflow: scroll;
    }

    .sidebar::-webkit-scrollbar {
        display: none;
      }
}
