.sidebar{
    position: fixed;
    background-color: $brand-main-color;
    height: 100%;
    margin: 0;
    padding: 20px;
    width: 190px;
    z-index: 10;

    .sidebar-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        a{
            font-size: 1.5em;
        }
    }

    ul.sidebar-menu{
        list-style: none;
        padding: 10px;
        display: flex;
        flex-direction: column;

        .nav-list{
            align-items: center;
            margin-bottom: 15px;

            a{
                font-size: 14px;
            }

            img{
                height: 16px;
                width: 16px;
                margin-right: 15px;
            }
        }
    }
}