.topbar{
    min-height: 50px;
    width: 100%;
    position: fixed;
    background-color: $paragraph-color;
    top: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 9;

    .topbar-menu{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 0;

        a{
            font-size: 14px;
            color: #000;
        }
    }
}

.topbar-list{
    padding: 10px 0;
    border-left: solid $text-color-light 0.5px;
    margin: auto;

    i{
        font-size: 14px;
        margin: 0 20px;
    }

    i:hover{
        cursor: pointer;
    }
}



@media (max-width: 767px){

    .topbar{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .topbar{
        display: none;
    }
}