.topbar{
    min-height: 50px;
    width: 100%;
    position: fixed;
    background-color: $paragraph-color;
    top: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 9;

    .topbar-menu{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 0;

        .topbar-cell{
            height: 100%;
            margin-right: 10px;
          

            a{
                font-size: 14px;
                
            }

            img{
                height: 20px;
                width: 20px;
                margin: 0px 15px;
                filter: invert(52%) sepia(20%) saturate(253%) hue-rotate(165deg) brightness(91%) contrast(82%);
            }
        }
    }
}

.topbar-list{
    padding: 10px 0;
    border-left: solid $text-color-light 0.5px;
}